name = "vless2sub"
main = "_worker.js"
compatibility_date = "2025-09-07"

keep_vars = true

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
